header {
  display: flex;
  height: 80px;
  width: 100%;
}

.search {
  background: #fff;
  position: fixed;
  z-index: 2;
}

.navbar-logo {
  align-items: center;
  display: flex;
  margin: 0 25px;

  img {
    height: 43px;
    width: 43px;
  }
}

.navbar-section {
  display: flex;
  justify-content: flex-start !important;
  margin-right: 20px;
}
