@import "../../../styles";

form {
  .form-input {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5px;
  }
}

// medium and up
@include mq(medium) { 
  input {
    font-size: 18px !important;
    font-weight: 300;
    height: 60px;
  }

  button {
    height: 60px;
    width: 100px;
  }

  .header-input {
    input {
      height: 45px;
    }

    button {
      height: 45px;
      width: 90px;
    }
  }
} 